.*
!.dockerignore
__pycache__
/0old
/deps
/tmp
/dist
/renpy
renios/prototype/prebuilt/
renios/base/
renios/prototype/base/
renios/prototype/prototype.xcodeproj/project.xcworkspace/
renios/prototype/prototype.xcodeproj/xcshareddata/
renios/prototype/prototype.xcodeproj/xcuserdata/
live2d
renpyweb
tmp.initial/
unpacked
