__pycache__
.project
.pydevproject
deps
/tmp
/dist
/renpy
/pygame_sdl2
renios/prototype/prebuilt/

._*
renios/base/
renios/prototype/base/
renios/prototype/prototype.xcodeproj/project.xcworkspace/
renios/prototype/prototype.xcodeproj/xcshareddata/
renios/prototype/prototype.xcodeproj/xcuserdata/
live2d
renpyweb
