alabaster==0.7.12
Babel==2.10.3
certifi
charset-normalizer==3.2.0
colorama==0.4.6
Cython==0.29.32
docutils==0.17.1
ecdsa==0.18.0
future==0.18.3
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
pefile==2022.5.30
pyasn1==0.4.8
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.5
requests==2.31.0
rsa==4.9
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-rtd-theme==1.1.1
sphinx-rtd-dark-mode==1.2.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing==3.7.4.3
urllib3==2.0.4
meson>=1.4.1
