<!DOCTYPE html>
<html>
  <head>
    <title>Ren'Py Nightly Builds</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>


  <body>

    <div class="container">


      <h2>Ren'Py Nightly Builds</h2>

      <p>
        <a href="doc">The documentation for the latest nightly can be found here.</a>
      </p>

      <p>
      These are nightly builds of Ren'Py, primarily created to let you help
      with testing and development of Ren'Py. APIs introduced in nightly builds
      may not be supported in a final release of Ren'Py.
      <p>

      <p>
      If, while testing these builds, you find a bug in Ren'Py, please let
      us know by filing a bug at <a href="https://github.com/renpy/renpy/issues">https://github.com/renpy/renpy/issues</a>.
      </p>

      <p>
      These builds are made on a best-effort basis, on computers that can be
      used for other projects. A day's build may be missing if the master
      git branch can't be built, or if the computers that build it are
      not available. Please email pytom@bishoujo.us if a build you're
      expecting is missing - I'll be able to give you a better status
      update.
      </p>


      <table class="table">
        <tr>
          <th>Date</th>
          <th>Ren'Py 8 Development</th>
          <th>Ren'Py 8 Fix</th>
          <th>Ren'Py 7 Development</th>
          <th>Ren'Py 7 Fix</th>
        </tr>

        {% for date, cols in rows %}
        <tr>
          <td>{{ date }}</td>
          {% for col in cols %}
          <td>
            {%for name, link in col %}
            <a href="{{ link }}">{{ name }}</a><br>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}

        <tr>
          <td>Permalinks</td>
          <td><a href="current-8">current-8</a></td>
          <td><a href="current-8-fix">current-8-fix</a></td>
          <td><a href="current-7">current-7</a></td>
          <td><a href="current-7-fix">current-7-fix</a></td>
        </tr>


    </div>
  </body>


</html>
